:host{
    .close{
        font-size: 35px;
        margin-left: 10px;
        margin-top: 10px;
    }
    img{
    width: 80%;
    height: auto;
    display: block;
    margin: 100px auto 50px auto;
    }

    ion-button{
        width: 90%;
        margin-left: 5%;
    
    }
   
}